@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.page {
  background: #2A2C2F;
  max-width: 1440px;
  min-width: 300px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    margin:0  auto;
    overflow: hidden;
}
.content-title {
  max-width: 800px;
  min-height: 69px;
  margin: 0 auto 5%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.content-subtitle {
  max-width: 640px;
  min-height: 23px;
  margin: 0 auto 7%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.page__link_activ:hover {
  opacity: 0.7;
}
@media screen and (min-width:768px){
  .content-title {
      font-size: 42px; 
      line-height: 46px;
    }
      .content-subtitle {
        font-size: 24px; 
        line-height: 35px;
      }
}


@media screen and (min-width:1024px){
  .content-title {
      font-size: 72px; 
      line-height: 78px;
}
}
